.container {
  padding: var(--space-3);
  margin: var(--space-3);
  min-height: var(--space-32);
  position: relative;
  border-radius: var(--radius-lg);
  background-color: white;
  display: flex; /* Usar flexbox facilita o alinhamento do conteúdo */
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adicionar uma sombra sutil */
}

/* Centraliza o spinner */
.spinnerContainer {
  display: flex;
  flex-grow: 1; /* Permite que o spinner ocupe o espaço restante */
  align-items: center;
  justify-content: center;
  min-height: var(--space-32); /* Garante que o spinner não encolha */
}

/* O conteúdo real que será exibido */
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.title {
  margin-bottom: var(--space-6);
  text-align: center;
  font-weight: bold;
}

/* Definição de cores unificada */
.neutral {
  border: solid 1px var(--gray-900);
  --theme-color: var(--gray-900);
  color: var(--theme-color);
}

.green {
  border: solid 1px var(--color-primary);
  --theme-color: var(--color-primary);
  color: var(--theme-color);
}

.red {
  border: solid 1px var(--color-secondary);
  --theme-color: var(--color-secondary);
  color: var(--theme-color);
}

/* .container{

  padding: var(--space-3);
  margin: var(--space-3);
  min-height: var(--space-32);
  position: relative;
  
  
  border-radius: var(--radius-lg);
  background-color: white;
}

.neutral{
  color: var(--gray-900);
  border: solid 1px var(--gray-900);
}

.green{
  color: var(--color-primary);
  accent-color: var(--color-primary);
  border: solid 1px var(--color-primary);
}

.red{
  color: var(--color-secondary);
  accent-color: var(--color-secondary);
  border: solid 1px var(--color-secondary);
} 


.title{
  margin-bottom: var(--space-6);
}

.spinnerContainer{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
} */