.container {
  padding: var(--space-3) var(--space-3) var(--space-5) var(--space-3);
  margin: var(--space-3);
  min-height: var(--space-32);
  position: relative;
  border-radius: var(--radius-lg);
  background-color: white;
  display: flex;
  flex-direction: column;
  
  /* border: solid 1px #aaadab; */
  box-shadow: 0 0.2rem 0.2rem rgba(131, 131, 131, 0.445);
}

.title {
  padding: var(--space-4);
  font-size: var(--font-size-2xl);

  color: var(--gray-800);
  font-weight: bold;

  text-align: center;
}

.spinnerContainer {
  display: flex;
  flex-grow: 1; /* Permite que o spinner ocupe o espaço restante */
  align-items: center;
  justify-content: center;
  min-height: var(--space-32); /* Garante que o spinner não encolha */
}

/* O conteúdo real que será exibido */
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Definição de cores unificada */
.neutral {
  border: solid 1px #b3b3b3b0;
  --theme-color: var(--gray-900);
  color: var(--theme-color);
}

.green {
  border: solid 1px #16a34a69;
  --theme-color: var(--color-primary);
  color: var(--theme-color);
}

.red {
  --theme-color: var(--color-secondary);
  border: solid 1px #dc262650;
  color: var(--theme-color);
}

/* .container{

  padding: var(--space-3);
  margin: var(--space-3);
  min-height: var(--space-32);
  position: relative;
  
  
  border-radius: var(--radius-lg);
  background-color: white;
}

.neutral{
  color: var(--gray-900);
  border: solid 1px var(--gray-900);
}

.green{
  color: var(--color-primary);
  accent-color: var(--color-primary);
  border: solid 1px var(--color-primary);
}

.red{
  color: var(--color-secondary);
  accent-color: var(--color-secondary);
  border: solid 1px var(--color-secondary);
} 


.title{
  margin-bottom: var(--space-6);
}

.spinnerContainer{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
} */