.inputContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: var(--space-1);
}

.input{
  height: var(--space-8);
  width: 100%;
  background-color: white;
  /* border: none; */
  /* box-shadow: var(--shadow-line); */
  border: solid 1px black;
  border-radius: var(--radius-md);
  padding: var(--space-2);
}

.errorAlert{
  color: var(--btn-danger-bg);
  font-size: var(--font-size-xs);
}