.containerButtons{
  margin-top: var(--space-5);
}

.categoryContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--space-2);
  gap: var(--space-2);
}

.category{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-2);
  border-radius: var(--radius-md);
  border: var(--border-default);
}

.icons{
  font-size: var(--font-size-2xl);
}

.icon{
  font-size: var(--font-size-2xl);
  position: absolute;
  top: var(--space-2);
  right: var(--space-2);

}

.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100vh;
  
  background-color: rgba(196, 196, 196, 0.548);

  display: flex;
  justify-content: center;
  align-items: center;

}