.transactionsContainer{
  display: flex;
  flex-direction: column;
  gap: var(--space-2);

  --red-with-oppacity: #d457574a;
  --box-shadow-red: 0 0.2rem 0.2rem var(--red-with-oppacity);
  --border-red: solid 1px var(--red-with-oppacity);

  --gren-with-oppacity: #16a34a50;
  --box-shadow-green: 0 0.2rem 0.2rem var(--gren-with-oppacity);
  --border-green: solid 1px var(--gren-with-oppacity);



}

.transactionContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: solid thin black;
  border-radius: var(--radius-md);
  padding: var(--space-0) var(--space-2);
  color: var(--gray-900);
  position: relative;
  min-height: 5rem;
}

.checkbox{
  width: var(--font-size-xl);
  height: var(--font-size-xl);
  z-index: 1;
}

.link{
  text-decoration: none; 
  font-style: normal;
  padding: var(--space-2) var(--space-0);
  display: flex ;
  width: 100%;
  justify-content: space-between;
  height: 100%;
 }

.containerGreen{
  border: var(--border-green);
  box-shadow: var(--box-shadow-green);
  accent-color: var(--color-primary);
}

.metadataContainer{
  display: flex;
  flex-wrap: wrap;
  color: var(--gray-700);
  font-size: var(--font-size-sm);
  overflow: hidden;
}

.containerRed{
  border: var(--border-red);
  box-shadow: var(--box-shadow-red);
  accent-color: var(--color-secondary);
}

.transactionDescriptions{
  display: flex;
}

.strongText{
  font-weight: var(--font-weights-bold);
  font-size: var(--font-size-md);
}

.OppacyText{
  opacity: 0.7;
}

.rightContainer{
  text-align: end;
}

.totalContainer{
  display: flex;
  justify-content: end;
  width: 100%;

  padding: var(--space-4) 0 0 0;
}

.table{
  color: var(--gray-900);
}

.green{
  color: var(--color-analogous-2);
}

.red{
  color: var(--color-secondary);
}

.td{
  padding-right: var(--space-1);
}

.smallText{
  font-size: var(--font-size-sm);
}