/* containers */

.transactionsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);

  --box-color: #d3d3d3d4;
  --box-shadow-settings: 0 0.2rem 0.2rem var(--box-color);
  --border-settings: solid 1px var(--box-color);
}

/* ============= description container ============= */

.descriptionTransactionBox {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: solid thin var(--box-color);
  border-radius: var(--radius-md);
  box-shadow: 0 0.2rem 0.2rem var(--box-color);


  color: var(--gray-900);
  padding: var(--space-0) var(--space-2);

  position: relative;

  min-height: 5rem;
}

.checkbox {
  width: var(--font-size-xl);
  height: var(--font-size-xl);
  z-index: 1;
}


.link {
  text-decoration: none;
  font-style: normal;
  padding: var(--space-2) var(--space-0);
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100%;
}

.transactionDescriptions {
  display: flex;
}

.transactionTitle{
  font-size: var(--font-size-md);
}

.metadataContainer {
  display: flex;
  flex-wrap: wrap;
  color: var(--gray-700);
  font-size: var(--font-size-xs);
  overflow: hidden;
  opacity: 0.7;

}

.rightContainer {
  text-align: end;
  font-size: var(--font-size-xs);
  color: var(--gray-700);
  opacity: 0.7;
}

.transactionValue{
  font-weight: var(--font-weights-bold);
  opacity: 1;
  color: var(--gray-900);
  font-size: var(--font-size-md);
}






/* ======= table total container ========== */

.containerTotals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-2);
  padding: var(--space-8) var(--space-2);
  
  box-shadow: 0 0.2rem .2rem var(--box-color);
  border: solid 1px var(--box-color);
  border-radius: var(--radius-md);
  
  color: var(--gray-800);
}

.totalTransactionsContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--space-3);

  /* box-shadow: var(--box-shadow-settings); */
  border: var(--border-settings);
  border-radius: var(--radius-md);

  background-color: var(--gray-100);

  font-size: var(--font-size-xl);
  font-weight: var(--font-weights-bold);
}

.subtotalsTransactions{
  color: var(--gray-600);
  
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.subtotalsTransactionsRows{
  display: contents;
}

.itemLeft{
  justify-self: left;
}

.itemRight{
  justify-self: right;
  color: var(--gray-800);
}

.valuesRed{
  color: var(--color-secondary);
}

.valuesGreen{
  color: var(--color-primary);
}