.containerTable{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-5) var(--space-2);
  border: solid 1px var(--gray-900);
  gap: var(--space-2);
  border-radius: var(--radius-lg);
  position: relative;

}

.table{
  width: 100%;
}

.td{
  border-bottom: solid 1px var(--gray-900);
  padding: var(--space-2) 0;
}

.tdRight{
  text-align: right;
}

.total{
  border: none;
  font-weight: var(--font-weights-bold);
}

.green{
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.red{
  color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.iconButton{
  all:unset;

  display: flex;
  justify-content: end;
  
  position: absolute;
  top: var(--space-2);
  right: var(--space-2);
  
  width: var(--space-8);
  height: var(--space-8);
}