.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: auto;
  padding: var(--space-4) var(--space-6);

  border-bottom: solid 1px #c0c0c0;
  box-shadow: 0 0.2rem 0.2rem #c3c3c38f;

  background-color: var(--color-primary);

  z-index: 10;
}

.iconOpen {
  font-size: var(--font-size-2xl);
  color: var(--gray-100);
  cursor: pointer;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;

  width: var(--space-64);
  height: 100vh;

  display: flex;
  flex-direction: column;

  border-radius: var(--radius-md);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

  background-color: white;

  z-index: 10;


  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.5s ease, transform 0.5s ease;

}

.hiddem {
  opacity: 0;
  transform: translateX(100%);

  pointer-events: none;
}

/* ========= Header Nav ============ */
.headerNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: var(--space-32);
  width: 100%;

  position: absolute;
  top: 0;

  border-bottom: var(--border-settings);

  background-color: white;
  color: var(--gray-900);

}

.containerLogo {
  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--space-12);
  height: var(--space-12);

  position: relative;
}



/* ============= ul ============== */

.ul {
  display: flex;
  flex-direction: column;
  padding: var(--space-32) 0 var(--space-20) 0;
  height: auto;
  overflow-y: scroll;
}

.link {
  all: unset;
  display: block;
  padding: var(--space-4) var(--space-6);
  font-size: var(--font-size-md);
  color: var(--color-gray-900);
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.link:hover {
  background-color: var(--color-analogous-1);
}

.linkActive {
  background-color: var(--color-analogous-1);
  font-weight: bold;
  color: white;
}


/* ======= Footer =========== */
.footer {

  height: var(--space-20);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 0;

  border-top: var(--border-settings);

  /* background-color: rgb(88, 88, 88); */
}

.footer>button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--space-1);

  border-radius: 0;

  /* height: 100%; */
  width: 100%;
  padding: var(--space-4);
  font-size: var(--font-size-md);

  color: var(--gray-900);
  background-color: white;
  font-weight: var(--font-weights-bold);

}


/* .header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-analogous-2);
  height: var(--space-12);

  z-index: 2;

  font-size: var(--font-size-3xl);
  color: var(--btn-alert-text);

}

.icon{
  position: absolute;
  right: var(--space-4);
  top: 50%;
  transform: translate(0, -50%);
}

.nav{
  position: absolute;
  top: var(--space-12);
  right: 0;
  width: 100%; 
  height: 100vh;
  background-color: rgba(204, 204, 204, 0.527);
  z-index: 1;
}

.ul{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  color: var(--gray-900);
}

.link{
  text-align: center;
  padding: var(--space-2);
  font-size: var(--font-size-2xl);
  background-color: white;
  width: 100%;
  height: 100%;
  font-style: normal;
  text-decoration: none;
}

.linkActive{
  color: var(--gray-100);
  background-color: var(--color-analogous-1)
} */