.form{
  display: flex;
  flex-direction: column;
  gap: var(--space-10);
  margin-top: var(--space-5);
}

.inputs{
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.categoryAndAccountContainer{
  display: grid;
  align-items: baseline;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-4)
}

/* .dateContainer{
  position: relative;
  box-shadow: var(--box-shadow);
  border-radius: var(--radius-md);
  border: var(--border-settings);
  height: var(--space-8);
}

.dateInput, .dateText{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.dateInput{
  opacity: 0;
} */

/* .dateText{
  position: absolute;

} */