.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: var(--space-4);
  background-color: var(--color-analogous-2);
  height: var(--space-12);
  z-index: 1;

  font-size: var(--font-size-3xl);
  color: var(--btn-alert-text);

}

.button{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0%;
  left: 50%;
  width: var(--space-16);
  height: var(--space-16);
  background-color: var(--color-analogous-1);
  transform: translate(-50%, -50%);
  border-radius: var(--space-64);
  min-width: auto;
  color: var(--btn-alert-text);
  font-size: var(--font-size-7);
}