/* ======== buttons ========== */

.green{
  --theme: var(--color-primary)
}

.red{
  --theme: var(--color-secondary);
}

.toggleGroup {
  display: flex;
  width: 100%;

  box-shadow: var(--box-shadow);
  border: var(--border-settings);
  border-radius: var(--radius-lg);

  color: var(--gray-700);
  
  overflow: hidden; 
}

.toggleButton {
  flex-grow: 1; 
  padding: var(--space-4);

  background-color: transparent;

  font-weight: var(--font-weights-bold);
  font-size: var(--font-size-md);

  border-radius: 0;
  
  transition: all 0.3s ease;
}


.toggleButton.active {
  background-color: var(--theme); 
  color: white;
}


/* ============================= */

.categoryContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--space-2);
  gap: var(--space-2);
}

.category{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-2);
  border-radius: var(--radius-md);
  border: var(--border-default);
}

.icons{
  font-size: var(--font-size-2xl);
}

.icon{
  font-size: var(--font-size-2xl);
  position: absolute;
  top: var(--space-2);
  right: var(--space-2);

}
